/* base css
 * author: binux<17175297.hk@gmail.com>
 * global {{{ */

a.cross-cookie { color: #c00 !important; text-decoration: none !important; padding: 7px; text-align: center; font-size: 17px; font-weight: bold; background-color: #ffc4c4; color: #c00; display: block; }
#disabled_cross_cookie dd { font-weight: bold; margin-top: 5px; }
#disabled_cross_cookie ul { list-style-type: disc; padding-left: 30px; }
.hidden { display: none; }

/* }}} globak
 *
 * layout-top {{{ */

#layout-top {
  line-height: 35px;
  height: 40px;
  background-color: #4c4c4c;
/*
  background: white url('../img/bg-stripe.png') repeat scroll 0 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  border-bottom: 1px solid #EAEAEA;
*/
  position: fixed; /*果断Fixed,无视IE*/
  top:0;
  left:0;
  width:100%;
  overflow: visible;
  z-index: 66;
  min-width: 730px;
  border-top: 1px solid #555;
  border-bottom: 3px solid #85c155;
}
  #layout-top #top-left { float:left; display: inline; width: auto; height: auto; margin-left: 30px; font-size: 12px; }
  #layout-top #top-right { float: right; display: inline; width: auto; height: auto; margin-right: 30px; font-size: 12px; }
  #layout-top #top-left .menu { float: right; padding: 0; margin: 0; list-style: none; }
  #layout-top #top-left .menu li {
    float: right;
    position: relative;
    width: auto;
    list-style-type: none;
    /* background: url('../img/sep.png') no-repeat scroll 100% 13px; */
  }
  #layout-top #top-left .menu .last { background: none; }
  #layout-top #top-left .menu li a, #layout-top #top-left .menu li span {
    display: block;
    color: #d0d0d0;
    position: relative;
    font-size: 13px;
    padding: 2px 12px;
    text-decoration: none;
    outline:none;
    -moz-transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -o-transition: color .15s linear;
    transition: color .15s linear;
  }
  #layout-top #top-left .menu li a:hover,
  #layout-top #top-right .menu li a:hover {
    color: #FFF;
    background-color: #393939;
    height: 35px;
  }
  #layout-top #top-right .menu { float: left; padding: 0; margin: 0; list-style: none; }
  #layout-top #top-right .menu li {
    float: left;
    position: relative;
    width: auto;
    list-style-type: none;
    /* background: url('../img/sep.png') no-repeat scroll 100% 13px; */
  }
  #layout-top #top-right .menu .last { background: none; }
  #layout-top #top-right .menu li a, #layout-top #top-right .menu li span {
    display: block;
    color: #d0d0d0;
    position: relative;
    font-size: 13px;
    padding: 2px 12px;
    text-decoration: none;
    outline:none;
    -moz-transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -o-transition: color .15s linear;
    transition: color .15s linear;
  }
  #layout-top #search {
    width: 270px;
    margin: 0 auto;
    padding-top: 5px;
    line-height: 28px;
  }
  #layout-top #search #search-input {
    height: 28px;
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    overflow: hidden;
    clear: both;
  }
  @media screen and (max-width: 1100px) { #layout-top #search { display: none; } }
  #layout-top form { display: inline-block; }
  #layout-top #search-q {
    border: none;
    width: 222px;
    height: 26px;
    background-color: transparent;
    font-size: 12px;
    line-height: 15px;
    outline: none;
    padding: 1px 0 0 10px;
    float: left;
  }
  #layout-top .focus {
    border-top: 1px solid #bcbcbc !important;
    border-left: 1px solid #bcbcbc !important;
    box-shadow: 1px 1px 1px #e9e9e9 inset !important;
  }
  #layout-top #search #search-input #search-icon {
    background: url('../img/icon.png') transparent no-repeat;
    background-position: 9px -50px;
    width: 31px;
    height: 23px;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    float: right;
  }
  #layout-top #search #search-input #search-icon:hover {
    background-position: 9px -94px !important;
  }

/* }}} layout-top */

@media (min-height: 810px) {
  #layout-logo { position: fixed; top:10%; left: 65px;  }
}
@media (max-height: 810px) {
  #layout-logo { position: fixed; top:70px; left: 10px;  }
  #layout-logo img { width: 180px; height: 66px; }
}
/* layout-background {{{ */

#layout-background { z-index:-99; }

  #layout-background .logo { position: fixed; bottom: 0; width: 200px; height: 540px; left: 200px; }
  @media screen and (max-width: 1190px) { #layout-background .logo { display: none; } }
  @media (max-height: 600px) { #layout-background .logo { display: none; } }
    #layout-background .logo .text {
      margin-top: 170px;
      margin-left: -170px;
      width: 540px;
      height: 200px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      /*writing-mode: lr-tb;*/
    }
    #layout-background .logo .text { font-size: 130px; }

/* }}} layout-background
 *
 *  layout-info {{{ */

@media (min-height: 750px) {
  #layout-info .info-box {
    float: left;
    position: fixed;
    top: 55%;
    width: 230px;
    height: 460px;
    margin-top: -300px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 5px 5px 5px #dedede;
    overflow: hidden;
  }
}
@media (max-height: 750px) {
  #layout-info .info-box {
    float: left;
    position: fixed;
    top: 150px;
    width: 230px;
    height: 460px;
    border-bottom-right-radius:25px;
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 5px 5px 5px #dedede;
    overflow: hidden;
  }
}
    #layout-info .info-box .important { font-weight: bold; }

    #layout-info .info-box #download-help { margin: 20px 10px; }
    #layout-info .info-box #download-help a { color: #000; }
    #layout-info .info-box #download-help dd { font-size: 20px; font-weight: bold; clear: both; margin-top: 10px; }

    #layout-info .info-box #tag-list { margin: 10px; height: 430px; overflow: hidden; }
    #layout-info .info-box #tag-list span { font-weight: bold; font-size: 130%; line-height: 180%;}
    #layout-info .info-box #tag-list a { color: #000; }
    #layout-info .info-box #tag-list li { float: left; margin-right: 10px; }
    /*#layout-info .info-box #tag-list li.tag-size-type-1 { font-size: 100%; }*/
    /*#layout-info .info-box #tag-list li.tag-size-type-2 { font-size: 100%; }*/
    /*#layout-info .info-box #tag-list li.tag-size-type-3 { font-size: 100%; }*/
    /*#layout-info .info-box #tag-list li.tag-size-type-4 { font-size: 100%; }*/

    #layout-info .info-box #author-info { position: absolute; bottom: 0; margin: 20px 5px; font-size: 0.85em; color: #333; white-space: nowrap; }
    #layout-info .info-box #author-info a { color: #333; text-decoration: none; }
    #layout-info .info-box #author-info a#github { color: #4183c4; }
    #layout-info .info-box #author-info a#github:hover { text-decoration: underline;}
    #layout-info .info-box #author-info dd { font-weight: bold; clear: both; }
    #layout-info .info-box #author-info dt { margin-left: 5px; float: right; background: #eee; border: 1px solid #ddd; padding: 0 1px; color: #888; border-radius: 2px; }
    #layout-info .info-box #author-info dt a { color: #36C; text-decoration: none; }

    #layout-info .info-box a.goback { text-decoration: none; }
    #layout-info .info-box #goback-button { position: absolute; left: 0; bottom: 30px; font-size: 20px; font-weight: bold; padding: 10px 35px 10px 20px; background-color: #666; color: #fff; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

/* }}} layout-info
 *
 * layout-list {{{ */

#layout-list { position: relative; z-index: 2; }
@media (min-width: 1150px) { #layout-list { margin-left: 330px; } #layout-list #google-comments { width: 740px; margin: 0 auto; } }
@media (max-width: 1150px) { #layout-list { float: right; width: 730px; } #layout-list #google-comments { float: right; width: 740px; } }

    #layout-list .task-list .push-top { margin-top: 62px; }
    #layout-list .task-list .push-bottom { margin-top: 40px; }

    #layout-list .task-list .task-item,
    #layout-list .task-list .file-item {
      position: relative;
      height: 40px;
      background: white;
      line-height: 40px;
      font-size: 15px;
      border-top-left-radius:15px;
      border-bottom-left-radius:15px;
      padding: 0 10px 0 20px;
    }
    #layout-list .task-list .file-item:hover {
      border-color: #dedede;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      height: 36px;
      line-height: 36px;
    }
    #layout-list .task-list .task-item-hover {
      position: absolute;
      top: -18px;
      right: 0;
      z-index: 33;
      width: 100%;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-color: #dedede;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      height: 76px;
      line-height: 36px;
      border-top-left-radius:38px;
      border-bottom-left-radius:38px;
    }
    #layout-list .task-list .share-task-item { background-color: #666; color: #fff; padding: 7px 10px 7px 20px; height: auto;
                                               border-color: #dedede; border-width: 2px 0 2px 2px; border-style: solid; line-height: 36px;
                                               position: relative; font-size: 15px; border-top-left-radius:30px; border-bottom-left-radius:30px; }
    #layout-list .task-list .share-task-item a { color: #fff; }
    #layout-list .task-list .share-task-item .share-tname { line-height: 21px; margin-right: 150px; }
      #layout-list .process-bar {
        position: absolute;
        right: 0;
        height: 100%;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
      }
      #layout-list .task-item-hover .process-bar {
        z-index: -1;
        border-top-left-radius:38px;
        border-bottom-left-radius:38px;
      }
      #layout-list .waiting { background-color: #f0f0f0; }
      #layout-list .downloading { background-color: #dfd; }
      #layout-list .finished { background-color: transparent; }
      #layout-list .failed { background-color: #FFC4C4; }
      #layout-list .paused { background-color: #E6F4FF; }
      #layout-list .task-list a { color: #000000; text-decoration: none; }
      #layout-list .task-list a:visited { color: #888; }
      #layout-list .task-list a:hover,
      #layout-list .task-list a:hover span { color: #888; text-decoration: underline; }
      #layout-list .task-list .tname {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 150px;
        padding-right: 200px;
        font-weight: bold;
      }
      #layout-list .task-list .tname .p2 { position: absolute; width: 200px; }

      #layout-list .task-list .info { position: absolute; right: 0; top: 0; }
      #layout-list .task-list .info span { margin-right: 10px; float: right; }

      #layout-list .task-list .ext-info {
        line-height: 20px; margin-top: 5px;
      }
      #layout-list .task-list .ext-info .uploader { float: right; margin-right: 10px; }
      #layout-list .task-list .ext-info .tags { float: left; }
      #layout-list .task-list .ext-info span a { text-decoration: underline; }
      #layout-list .task-list .add2lixian { position: absolute; right: 10px; top: 0; margin-top: 6px; width: auto; line-height: 20px; padding: 1px 5px; }
/* }}} layout-info */

/* global {{{ */
.task-button { float: right; font-weight: bold; border-radius: 5px; width: 70px; height: 21px; text-align: center;
               background-color: #fff; color: #666; position: relative; margin-left: 10px; }
.task-button:hover { color: #fff; background-color: #888; }
.task-button:hover a { color: #fff !important; }
.task-button a { color: #666; text-decoration: none !important; }
.more-links { position: absolute; top: 21px; z-index: 33; }
.more-links .task-button { color: #fff; background-color: #999; margin: 0; }
.more-links .task-button:hover { color: #fff; background-color: #888; margin: 0; }
.task-item .task-button { color: #fff; background-color: #999; }
.task-item .task-button:hover { color: #fff; background-color: #888; }
/* }}} lixian_box {{{ */
  .lixian-box { width: 100%; }
    .lixian-box .task-info { padding: 5px 10px 5px 10px; background-color: #666; color: #fff; font-weight: bold; }
    .lixian-box .task-info .task-name { float: left; width: 500px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
      /*.lixian-box .task-info .finished { }*/
      /*.lixian-box .task-info .downloading { }*/
      /*.lixian-box .task-info .waiting { }*/

    .lixian-box .file-list { margin-top: 10px; }
      .lixian-box .file-list .file-item { position: relative; padding: 5px 10px 5px 10px; }
        .lixian-box .file-list .file-item .process-bar { position: absolute; top: 0; right: 0; height: 100%; z-index: -1;}
        .lixian-box .file-list .file-item .waiting { background-color: #f0f0f0; }
        .lixian-box .file-list .file-item .downloading { background-color: #dfd; }
        .lixian-box .file-list .file-item .finished { background-color: transparent; }
        .lixian-box .file-list .file-item .failed { background-color: #FFC4C4; }
        .lixian-box .file-list .file-item .paused { background-color: #E6F4FF; }

        .file-title { float: left; width: 610px; }
        .lixian-box .file-list .file-item .file-size { position: absolute; right: 10px; bottom: 5px; }
        .lixian-box .file-list .file-item .file-2lixian { position: absolute; right: 10px; bottom: 5px; width: auto; padding: 1px 5px; }

    .lixian-box #link-text { width: 100%; border: none; }
/* }}} lixian_box */


/* settings {{{ */
#settings-details {
  width: 600px;
}
#settings-details #setting-main {
  width: 550px;
  margin: 10px 25px;
}
#settings-details #setting-top {
  overflow: hidden;
  clear: both;
  padding: 30px 0 20px 0;
}
#settings-details #setting-left {
  float: left;
  text-align: right;
  width: 180px;
  line-height: 28px;
}
#settings-details #setting-right {
  float: right;
  text-align: left;
  width: 350px;
}
#settings-details #setting-right input {
  border: 1px solid #CCC;
  background: -webkit-gradient(linear,left top,left 15,from(white),color-stop(4%,#F9F9F9),to(white));
  background: -moz-linear-gradient(top,white,#F9F9F9 1px,white 15px);
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 300px;
  padding: 4px;
  font-size: 13px;
  height: 18px;
}
#settings-details #setting-bottom {
  padding: 20px 0;
  overflow: hidden;
  clear: both;
}
#settings-details #setting-bottom #setting-buttons {
  float: right;
  width: 180px;
}
#settings-details #setting-bottom button {
    padding: 2px 7px;
    margin-left: 10px;
    border-radius: 4px;
    color: #606060;
    border: solid 1px #B7B7B7;
    background: white;
    background: -webkit-gradient(linear,left top,left bottom,from(white),to(#EDEDED));
    background: -moz-linear-gradient(top,white,#EDEDED);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#EDEDED');
}
#settings-details #setting-bottom button:hover {
    background:#ededed;
    background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dcdcdc));
    background:-moz-linear-gradient(top,#fff,#dcdcdc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dcdcdc');
    cursor: pointer;
}
#settings-details #setting-bottom button:active {
    color: #999;
    background: -webkit-gradient(linear,left top,left bottom,from(#EDEDED),to(white));
    background: -moz-linear-gradient(top,#EDEDED,white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED',endColorstr='white');
}
/* }}} settings */

#tip-box {
  position: fixed;
  top: 40px;
  left: 45%;
  z-index: 999;
  background: #98C93A;
  color: #fff;
  padding: 3px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius:4px;
  border-radius: 4px;
  font-size: 13px;
  display: none;
}