<dl id="download-help">
  <dd>1.</dd>
  <dt>
  <div class="important">下载安装 UserScript 支持插件。</div>
  <div>
      <b>Firefox:</b> <a href="https://addons.mozilla.org/zh-CN/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> 或 <a href="https://addons.mozilla.org/zh-CN/firefox/addon/scriptish/" target="_blank">Scriptish</a><br />
      <b>Safari:</b> <a href="http://d.hatena.ne.jp/os0x/20100612/1276330696" target="_blank">NinjaKit</a> <br />
      <b>Chrome:</b> <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Tampermonkey</a> <br />
  </div>
  </dt>
  <dd>2.</dd>
  <dt>
  <div class="important">下载安装跨站 Cookie 脚本。</div>
  <div><a href="{{ options.cross_userscript_local }}" target="_blank">本地安装</a> / <a href="{{ options.cross_userscript }}" target="_blank">UserScirpt</a></div>
  <a href="{{ options.cross_userscript_local }}" class="cross-cookie" data-version="{{ options.cross_cookie_version }}" style="padding: 3px; margin: 5px 0;">需要安装/升级</a>
  <div><b><a href="#disabled_cross_cookie" id="disable_user_script">我无须使用浏览器下载功能</a></b></div>
  </dt>
  <dd>3.</dd>
  <dt>
    <div class="important">开始下载吧！</div>
    <div>您也可以使用 Google 账户登录后添加资源。</div>
  </dt>
</dl>
<div id="author-info">
  View on <a href="https://github.com/jat001/lixian.xunlei" target="_blank" id="github">GitHub</a> | <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备14000934号</a>
</div>
<style>
</style>
<div class="hidden">
  <div id="disabled_cross_cookie">
    <dl>
      <dd>不安装跨站 Cookie 脚本，您将无法使用以下功能：</dd>
      <dt>
        <ul> <li>浏览器直接下载页面链接</li> </ul>
      </dt>
      <dd>您依然可以使用如下功能：</dd>
      <dt> <ul>
          <li>使用批量导出功能下载</li>
          <li>添加，分享资源</li>
      </ul> </dt>
      <dd>是否关闭脚本安装提示？</dd>
      <dt>
        <ul>
          <li><a href="javascript:set_cookie();">是的，我不需要使用浏览器下载功能</a></li>
          <li><a href="{{ options.cross_userscript_local }}">否，我现在就要安装脚本</a></li>
        </ul>
      </dt>
    </dl>
  </div>
</div>
<script>
  $("#disable_user_script").fancybox();
  function set_cookie() {
    var host = '.' + location.host;
    $.cookie('cross-cookie', 'disabled', {expires: 30, path: '/', domain: host});
    location.reload();
  }
</script>
